@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
  background: #c1c1c1;
  height: 8px;
  border-radius: 20px;
}
::-webkit-scrollbar-button:hover {
  background: #a8a8a8;
}
::-webkit-scrollbar-track-piece {
  background: #ebeef2;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.scrollbar-light::-webkit-scrollbar-track-piece {
  background: white;
}

body {
  color: black;
  background-color: #ebeef2;
  min-height: 100vh;
}

.font-arabic {
  font-family: me_quran;
  word-spacing: 8px;
}

@font-face {
  font-family: me_quran;
  src: url("/assets/fonts/me_quran Regular.ttf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
